<section id="about-me" class="container">
  <div class="text-center mb-5">
    <app-title>About</app-title>
  </div>

  <div class="description">
    <div>
      <p class="intro">
        I'm <span class="highlight">Cassandra Lazar</span>, a frontend developer
        passionate about crafting intuitive and elegant user experiences using
        <strong>Angular</strong> and modern web technologies.
      </p>
    </div>
    <div class="profile-pic">
      <img class="img-fluid" src="images/profile-pic.png" alt="Cassandra Lazar" />
    </div>
  </div>
</section>
