.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (max-width: 600px) {
    flex-wrap: wrap-reverse;
    text-align: center;
  }
}

.intro {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.highlight {
  color: #98ff98;
  font-weight: 600;
}

.profile-pic {
  img {
    border-radius: 20px;
    border: 3px solid #98ff98;
    box-shadow: 0 0 20px #98ff9870;
    animation: float 6s ease-in-out infinite;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.timeline {
  position: relative;
  max-width: 100vw;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 6px;
    height: 100%;
    background: #98ff98;
    border-radius: 2px;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 2.4rem;
    padding-left: 3.5rem;

    &::before {
      content: "";
      position: absolute;
      left: 1.5rem;
      top: 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
      background: #98ff98;
      border-radius: 50%;
      box-shadow: 0 0 10px #98ff98;
      animation: pulseDot 2s infinite ease-in-out;
    }

    .timeline-content {
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(20px);
      border-left: 3px solid #98ff98;
      padding: 1.5rem;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(152, 255, 152, 0.2);

      &:hover {
        box-shadow: 0 0 25px #98ff98, 0 0 25px #98ff98;
        transform: translateY(-5px);

        &::before {
          opacity: 0.1;
        }
      }

      .timeline-date {
        font-size: 1rem;
        color: #98ff98;
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        color: #fff;
      }

      p {
        font-size: 1rem;
        color: #e0e0e0;
        margin: 0;
      }
    }
  }
}

@keyframes pulseDot {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

.experience-box {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(152, 255, 152, 0.2);
  border: 2px solid rgba(152, 255, 152, 0.2);
  color: #fff;

  &:hover {
    box-shadow: 0 0 25px #98ff98, 0 0 50px #98ff98;

    &::before {
      opacity: 0.1;
    }
  }

  .company-name {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
  }

  .experience-role {
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border-right: 4px solid #98ff98;

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      flex-direction: column;

      .title {
        color: #fff;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0.2rem;
        text-align: end;
      }

      .period {
        font-size: 0.95rem;
        color: #98ff98;
        font-weight: bold;
      }

      .description {
        margin-top: 0.5rem;
        color: #e0e0e0;
        line-height: 1.6;
        font-size: 1rem;
        text-align: end;
      }
    }
  }
}
