@import "../../../../../assets/variables.scss";

.email {
  gap: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  margin-left: 0.5rem;
}

.contact-section {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;

  .contact-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem 2.5rem;
    box-shadow: 0 0 20px rgba(152, 255, 152, 0.2);
    border: 2px solid rgba(152, 255, 152, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);

    &:hover {
      box-shadow: 0 0 25px #98ff98, 0 0 50px #98ff98;
      &::before {
        opacity: 0.1;
      }
    }

    .input-group {
      margin-bottom: 1.5rem;

      input,
      textarea {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 3px solid #ffffff;
        color: #eee;
        font-size: 1.1rem;
        padding: 12px 5px 5px 4px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #98ff98;
        }
      }

      label {
        position: absolute;
        left: 5px;
        top: 12px;
        color: #e0e0e0;
        font-size: 1.1rem;
        pointer-events: none;
        transition: all 0.3s ease;
      }

      input:focus + label,
      input:not(:placeholder-shown) + label,
      textarea:focus + label,
      textarea:not(:placeholder-shown) + label {
        top: -10px;
        font-size: 0.8rem;
        color: #98ff98;
      }
    }

    .textarea-group textarea {
      resize: vertical;
    }

    .success-msg {
      color: #98ff98;
      margin-top: 1rem;
    }

    .error-msg {
      color: #ff7ac6;
      margin-top: 1rem;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    padding: 2rem;

    h3 {
      margin-bottom: 1.5rem;
      color: $blue;
      font-weight: 700;
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #98ff98;
          text-decoration: underline;
        }
      }
    }

    .social-icons {
      margin-top: 0.5rem;

      a {
        font-size: 2rem;
        margin-right: 1rem;
        color: #98ff98;
        transition: color 0.3s ease;

        &:hover {
          color: #faff74;
        }
      }
    }
  }
}

