.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-list {
  display: flex;
  gap: 1rem;
  background-color: #111;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li {
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  transition: background 0.3s, color 0.3s;
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: #ccc;
}

.nav-list li.active {
  color: white;
  background: radial-gradient(circle, #bb61ff, #00000000);
  box-shadow: inset 0 0 0 #a100ff55, 0 0 5px #7f39fb;
}

////////////// mobile nav /////////////////////////////

.mobile-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 2000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &.open-nav {
    background: #111;
  }
}

.mobile-header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.8rem;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.mobile-nav-list {
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: #111;
  padding: 1rem;
  list-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav-list.open {
  display: flex;
}

.mobile-nav-list li {
  padding: 0.8rem 0;
}

.mobile-nav-list li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 600;
}

.mobile-nav-list li.active {
  background: radial-gradient(circle, #bb61ff, #00000000);
  color: white;
  border-radius: 8px;
}
