<section class="container mt-5" data-aos="fade-down" data-aos-offset="250">
  <div class="text-center mb-5">
    <app-title>Skills</app-title>
  </div>

  <div class="skills">
    @for (category of skills; track category.title) {
    <div class="skills-category">
      <h3>{{ category.title }}</h3>
      <div class="skills-grid">
        @for (skill of category.items; track skill.name) {
        <div class="skill-item" data-aos="flip-up" data-aos-offset="250">
          <img [src]="skill.logo" [alt]="skill.name" />
          <span>{{ skill.name }}</span>
        </div>
        }
      </div>
    </div>
    }
  </div>
</section>

<section class="skills-banner" data-aos="zoom-in" data-aos-offset="250">
  <div class="slider">
    <div
      class="slide-track"
      [class.pauseBanner]="pauseBanner"
      [style.width.px]="slideTrackWidth"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      @for (skill of allLogos; track skill.name) {
      <div class="slide">
        <img [src]="skill.logo" [alt]="skill.name" />
      </div>
      } @for (skill of allLogos; track skill.name + '-duplicate') {
      <div class="slide">
        <img [src]="skill.logo" [alt]="skill.name" />
      </div>
      }
    </div>
  </div>
</section>
