.skills {
  .skills-category {
    margin-bottom: 2rem;

    h3 {
      color: #fff;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .skills-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }

    .skill-item {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 12px;
      padding: 0.8rem 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.3s ease;
      min-width: 130px;
      box-shadow: 0 0 20px rgba(152, 255, 152, 0.2);
      border: 2px solid rgba(152, 255, 152, 0.2);
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }

      span {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
      }

      &:hover {
        transform: translateY(-4px) scale(1.05);
        box-shadow: 0 0 20px #98ff98, 0 0 20px #98ff98;
      }
    }
  }
}

.skills-banner {
  background: transparent;
  padding: 1.5rem 0;
  overflow: hidden;
  position: relative;

  .slider {
    overflow: hidden;
    white-space: nowrap;

    .slide-track {
      display: flex;
      width: calc(200px * 20 * 2);
      animation: scroll 30s linear infinite;

      &.pauseBanner {
        animation-play-state: paused;
      }
    }

    .slide {
      flex: 0 0 auto;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      img {
        width: 4rem;
        height: auto;
        transition: transform 0.3s ease;
        background: transparent;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
