<section
  class="container mt-4 mb-5"
  data-aos="fade-down-right"
  data-aos-offset="200"
>
  <div class="text-start mb-4">
    <app-title>Projects</app-title>
  </div>

  <div class="projects-section">
    <ul class="project-tabs col-md-3">
      @for (project of projects; track $index) {
      <li
        (click)="selectProject(project)"
        [class.active]="selectedProject.id === project.id"
      >
        {{ project.title }}
      </li>
      }
    </ul>

    <div class="project-content col-md-9">
      <h3 class="mb-4 subtitle">{{ selectedProject.title }}</h3>
      <p>{{ selectedProject.description }}</p>

      @if (selectedProject.images?.length) {
      <div class="project-images">
        @for (img of selectedProject.images; track $index) {
        <div class="thumbnail-wrapper" (click)="openPreview(img)">
          <img [src]="img" alt="Project image" class="thumbnail" />
          <span class="zoom-icon">🔍</span>
        </div>
        }
      </div>
      }
    </div>
  </div>
</section>
