@use "./assets/variables.scss" as *;
@import "primeicons/primeicons.css";

::-webkit-scrollbar {
  background-color: $light-grey;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 20px;
  width: 5px;
}

.gradient-btn {
  width: fit-content;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  background: linear-gradient(180deg, #f2ff93, #48e4ec);
  color: #111;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  border: none;

  &:hover {
    background: linear-gradient(10deg, #f2ff93, #48e4ec);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(172, 180, 255, 0.881);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(1);
    box-shadow: none;
  }
}

.linkedin-btn {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #0a66c2;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(172, 180, 255, 0.881);
  }
}
