/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.gradient-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  background: linear-gradient(10deg, #f2ff93, #48e4ec);
  color: #000;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(172, 180, 255, 0.881);
  }
}

.linkedin-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #0a66c2;
  color: white;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(172, 180, 255, 0.881);
  }
}
