@use  "../../../../../assets/variables.scss" as *;

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero-content {
  width: 70vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  padding: 3rem;
  box-shadow: 0 0 40px rgb(117, 255, 117);
  animation: float 4s ease-in-out infinite;

  @media only screen and (max-width: 500px) {
    height: 70vh;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
}

.role {
  font-size: 1.7rem;
  color: $blue;
  margin-bottom: 0.5rem;
  text-align: center;
}

.location {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.5rem;
  text-align: center;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}
